
<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
		<servlet-name>InitialServlet</servlet-name>
		<servlet-class>InitialServlet</servlet-class>
</servlet>
<servlet-mapping>
		<servlet-name>InitialServlet</servlet-name>
		<url-pattern>/InitialServlet</url-pattern>
</servlet-mapping>	
<servlet>
		<servlet-name>SessionTestServlet</servlet-name>
		<servlet-class>SessionTestServlet</servlet-class>
</servlet>
<servlet-mapping>
		<servlet-name>SessionTestServlet</servlet-name>
		<url-pattern>/SessionTestServlet</url-pattern>
</servlet-mapping>
</web-app>
